body {
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    color: #3498db;
    margin-bottom: 2px;
}

.home{
    text-decoration: none;
    padding-left: 80%;
    color: #2980b9;
    
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
}

.form-columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 0 1 calc(50% - 10px);
    margin-right: 20px;
}

.column:last-child {
    margin-right: 0;
}

.column.full-width {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

select {
    appearance: none;
    background: url('Down-arrow.png') no-repeat right center; 
    background-size: 20px;
}

.link{
    text-decoration: none;
    color: #3498db;
    margin-left: 36%;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
